@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background-color: rgb(0,0,0,0.1);
  @apply bg-blue-500;
}

.todo-container {
  max-width: 600px;
  margin: 1rem auto;
  .todo-form {
    @apply flex;
    input {
      margin-right: 1rem;
    }
  }

  ol > li {
    padding: 0.5rem 1rem;
    transition: all 500ms;
    &.active {
      background-color: black;
      color: white;
    }
  }
  ol > li > * {
    margin-right: 0.5rem;
    @apply mr-2;
  }
}
